<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cowboys Only</title>
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Tangerine: bold, bolditalic, regular, regularitalic&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="header">
      <h1>Cowboys Only</h1>
    </div>
    <nav>
      <ul>
        <li>Home</li>
        <li>P</li>
        <li>Dashboard</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
  <script src="main.js" charset="utf-8"></script>
</html>
