<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <ul>
        <li>Home</li>
        <li>Profile</li>
        <li>Dashboard</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
