<link rel="stylesheet" href="../public/main.css">
<nav id="navbar">
  <ul>
   <li><a href="#">
     <form action="/logout" method="post">
       <input type="submit" name="submit" value="Log Out">
     </form>
       </a></li>
   <li><a href="/about">About</a></li>
   <li><a href="/users/profile">Profile</a></li>
   <li><a href="/stories">Stories</a></li>
   <li><a href="#">Cowboys Only</a></li>
 </ul>
</nav>
